---
const { data } = Astro.props;
---

<div class="artistCard">
  <div class="artistImageCard">
    <a class="spotifyLogo" target="_blank" href={data.spotify}><img src="img/spotifyLogo.png" alt="spotify link" /></a>
    <a class="artistImage" href={`${data.slug}`}><img src={data.image} alt="artist image" /></a>
  </div>

  <div class="horizontalFlex hashtags">
    <p>#{data.hashtag}</p>
    <p>#{data.hashtag2}</p>
    <p>#{data.nationality}</p>
  </div>

  <a href={`${data.slug}`}>
    <h3 class="artistName">{data.name}</h3>
  </a>

  <div class="horizontalFlex info">
    <p>{data.date}&nbsp;//</p>
    <p>&nbsp;{data.time}</p>
  </div>
</div>

<style>
  a {
    text-decoration: none;
    color: #2d2c2a;
  }
  .artistCard {
    width: auto;
    font-family: "Montserrat";
  }

  .spotifyLogo {
    position: absolute;
    width: 25%;
    top: 75%;
    left: 65%;
    cursor: pointer;
  }

  .spotifyLogo:hover {
    opacity: 75%;
  }

  .artistImageCard {
    position: relative;
  }

  .artistName:hover {
    color: #1a4ede;
  }

  .hashtags {
    margin-block: 5px;
  }
  .hashtags p {
    background-color: #e5f793;
    margin-top: 10px;
    margin-right: 10px;
    padding-inline: 5px;
  }

  h3 {
    font-size: 1.5rem;
    font-family: "Dance";
    letter-spacing: 1px;
  }

  .info {
    font-weight: bold;
    font-size: 1.1rem;
  }
</style>
