---
const { data } = Astro.props;
---

<div class="artistCard">
  <a href="/#"><img src={data.image} alt="artist image" /></a>
  <div class="horizontalFlex hashtags">
    <p>#{data.hashtag}</p>
    <p>#{data.hashtag2}</p>
    <p>#{data.hashtag3}</p>
  </div>
  <a href="/#"><h3>{data.name} ({data.nationality})</h3></a>
  <div class="horizontalFlex info">
    <p>{data.date}&nbsp;-</p>
    <p>&nbsp;{data.time}</p>
  </div>
</div>

<style>
  a {
    text-decoration: none;
    color: #2d2c2a;
  }
  .artistCard {
    width: auto;
    font-family: "Montserrat";
  }
  .hashtags p {
    background-color: #e5f793;
    margin-top: 10px;
    margin-right: 10px;
    padding-inline: 5px;
  }

  .info {
    font-weight: bold;
  }
</style>
